.nav-bar{
    background-color: rgb(4, 42, 69);

}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: #ff2a6d;
}

.nav-styling{
    background-color: #120458;
    font-family: "Chakra Petch", sans-serif;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #ff006d;
}

.navbar-nav .nav-link.active{
    color: #b7004f;
}

.container-styling{
    background-color: #383e65;
    color: white;
}

.img-styling{
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h6{
    color: #65dc98;
    font-family: "Chakra Petch", sans-serif;
}

h1{
    margin: 10px 0 10px 0;
}

h2{
    margin-top: 10px;
}


p, .card-text{
    font-family: "Rubik", sans-serif;
}

.hr-styling{
    margin-top: 15px;
    color: #65dc98;
}


.card{
width: 100%;
padding: 10px;
background-color: #4d9e9b;
color: white;
}


h5{
    font-family: "Chakra Petch", sans-serif;
}

.btn{
    color: white;
    font-weight: 600;
    font-family: "Chakra Petch", sans-serif;
}

.btn-info{
    background-color: #a000a6;
    border: 1px solid #700074;
}

.btn:hover{
    background-color: #5e00a6;
    border: 1px solid #3b0167;
    color: white;
}

footer{
    background-color: rgb(4, 42, 69);
    padding: 10px;
    color: white;
}



@media  screen and (max-width: 1199px) {

    .h1-styling{
        margin-top: 20px !important;
    }
    
}


